<html>
    <head>
        <title>A Music Player</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <script src="../js/jquery-2.0.3.min.js"></script>   
        <script src="../js/main.js"></script>
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="../js/underscore-min.js"></script>    
    </head>
    <body>

        <!-- This page will display then albums for user to select -->            
        <!--This will display either Genre Type, Album Name, or Artist Name-->
        <!-- start of an experiment to slide the option to the left-->
        <div id="contentSubOne">
            <div id="albums"></div>
            <div id="browse"></div> <!-- this div will display to the right with more info -->
        </div>

        <div id="info"></div>

        <!--clear floats and whatever-->
        <div style="clear:both; width:100%" ></div>

        <!--Search--> 
        <div id="search">
            Search for Title: <input id="txtSearch" />
            <input class="button" id="btnSearch" type="button" value="Find It!" />
        </div>              

        <script id="homePage" type="text/x-handlebars-template">
            Its {{name}}! Just listening to music and stuff.
        </script>   






        <script>
            var albums;


            $(document).ready(function() {

                //below starts getting information from JSON file                    

                //cached DOM references
                var infoDiv = $("#info");
                var browseDiv = $("#browse");
                var albumsDiv = $("#albums");


                //templates
                //var hompageTemplate = Handlebars.compile($("#homePage").html());
                var albumLinkTemplate = Handlebars.compile($("#albumHomeLinks").html());//this displays info to browse div
                var albumInfoTemplate = Handlebars.compile($("#albumInfo").html());
                //below is compile for albumsTitle array to display on albums page
                var albumsLinkTemplate = Handlebars.compile($("#albumsLinks").html());



                $.getJSON('data/data.json', function(data) {
                    albums = data.albums;

                    //this display the albums list from object albumTitle in JSON file.
                    albumsDiv.html(albumsLinkTemplate(data.albumTitle));//this worked!!!

                });

                //this finds id when you click on albums and displays in #browse
                //IT WORKS!!!!
                $("#albums").on("click", ".albumsLink", function() {
                    var albumToFind = $(this).html();
                    var results = {};

                    results.albums = _.where(albums, {title: albumToFind});

                    browseDiv.html(albumLinkTemplate(results));
                });

                $("#btnSearch").click(function() {
                    //get the search term
                    var searchTerm = $("#txtSearch").val();
                    //object to store any results
                    var results = {
                        albums: []
                    };

                    //loop through all of our albums
                    results.albums = _.filter(albums, function(item) {
                        //return (item.title.indexOf(searchTerm) != -1);
                        var titleSplit = item.title.split(" ");
                        return _.find(titleSplit, function(titleWord) {
                            return titleWord.toUpperCase() == searchTerm.toUpperCase();
                        });
                    });

                    browseDiv.html(albumLinkTemplate(results));

                });
            });
        </script>          



    </body>
</html>