<html>
    <head>
        <title>A Music Player</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <script src="../js/jquery-2.0.3.min.js"></script>
        <script src="../js/main.js"></script>
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="../js/underscore-min.js"></script>
    </head>
    <body>

        <!-- This page will display then genres for user to select -->
        <!--This will display either Genre Type, Album Name, or Artist Name-->
        <!-- start of an experiment to slide the option to the left-->
        <div id="contentSubOne">
            <div id="genres"></div>
            <div id="browse"></div> <!-- this div will display to the right with more info -->
        </div>

        <div id="info"></div>

        <!--clear floats and whatever-->
        <div style="clear:both; width:100%" ></div>

        <!--Search--> 
        <div id="search">
            Search for Title: <input id="txtSearch" />
            <input class="button" id="btnSearch" type="button" value="Find It!" />
        </div>  


        <!--template to display album title, artist name, and tracks -->
        <script id="tracksLinks" type="text/x-handlebars-template">

            <ul class="tracks_list">
            {{#each albums}}
            <li class="trackLink" data-id="{{this.id}}">
            <li class="trackLink" data-id="{{this.artist}}">
            {{#each this.tracks}}
            <li class="trackLink">{{this.name}}</li>
            {{/each}}
            </li>
            {{/each}}	
            </ul>    
        </script> 


        <!-- genre links -->
        <script id="genreLinks" type="text/x-handlebars-template">
            <ul class="genre_links">
            {{#each this}}
            <li class="genreLink">{{this}}</li>
            {{/each}}
            </ul>
        </script>        

        <script>
var albums;

$(document).ready(function() {

//below starts getting information from JSON file

    //cached DOM references
    var infoDiv = $("#info");
    var browseDiv = $("#browse");
    var genreDiv = $("#genres");


    //templates
    // var hompageTemplate = Handlebars.compile($("#homePage").html());
    var tracksLinkTemplate = Handlebars.compile($("#tracksLinks").html());
    var genreLinkTemplate = Handlebars.compile($("#genreLinks").html());



    $.getJSON('data/data.json', function(data) {
        albums = data.albums;

        //template of genreLinks displayed..
        genreDiv.html(genreLinkTemplate(data.genres));

    });



    $("#genres").on("click", ".genreLink", function() {
        var genreToFind = $(this).html();
        var results = {};

        results.albums = _.where(albums, {genre: genreToFind});

        browseDiv.html(tracksLinkTemplate(results));
    });

    $("#btnSearch").click(function() {
        //get the search term
        var searchTerm = $("#txtSearch").val();
        //object to store any results
        var results = {
            albums: []
        };

        //loop through all of our albums
        results.albums = _.filter(albums, function(item) {
            //return (item.title.indexOf(searchTerm) != -1);
            var titleSplit = item.title.split(" ");
            return _.find(titleSplit, function(titleWord) {
                return titleWord.toUpperCase() == searchTerm.toUpperCase();
            });
        });
        /*for(var i = 0; i < books.length; i++) {
         //split the book's name into individual words
         var titleSplit = books[i].title.split(" ");
         //loop through those words
         for(var y = 0; y < titleSplit.length; y++) {
         if(titleSplit[y].toUpperCase() == searchTerm.toUpperCase()) {
         results.books.push(books[i]);
         break;
         }
         }
         }*/

        browseDiv.html(albumLinkTemplate(results));//search results

    });
});
        </script>



    </body>
</html>